source https://nuget.org/api/v2
storage:none

nuget FSharp.Core redirects: force
nuget Giraffe
nuget Giraffe.TokenRouter
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.WebSockets
nuget Microsoft.AspNetCore.WebSockets.Server
nuget System.Net.NetworkInformation
nuget jose-jwt
nuget Thoth.Json.Net prerelease

nuget Fable.Core prerelease
nuget Fable.React prerelease
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.PowerPack prerelease
nuget Microsoft.Azure.WebJobs prerelease
nuget Microsoft.Azure.WebJobs.Extensions prerelease
nuget Thoth.Json prerelease

clitool dotnet-fable prerelease

group ServerTests
  source https://nuget.org/api/v2
  storage:none
  clitool Microsoft.DotNet.Watcher.Tools
  nuget FSharp.Core redirects: force
  nuget Expecto

group UITests
  source https://nuget.org/api/v2
  framework >= net461
  nuget FSharp.Core redirects: force
  nuget Canopy 2.0.1
  nuget Expecto
  nuget phantomjs
  nuget Selenium.WebDriver.ChromeDriver = 2.36

group Build
  source https://nuget.org/api/v2
  framework >= net461
  nuget FAKE
